<a href="https://colab.research.google.com/github/spencer-navy/CIT15000/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework 5**

Using the provided New York City (NYC) dataset. Apply Linear Regression to predict housing prices. For each house observation, we have the following information:

**crim** — per capita crime rate by town.

**zn** — proportion of residential land zoned for lots over 25,000 sq.ft.

**indus** — proportion of non-retail business acres per town.
**chas** — charles river dummy variable (= 1 if tract bounds river; 0 otherwise).

**nox** — nitrogen oxides concentration (parts per 10 million).

**rm** — average number of rooms per dwelling.

**age** — proportion of owner-occupied units built prior to 1940.

**dis** — weighted mean of distances to five employment centres.

**rad** — index of accessibility to radial highways.

**tax** — full-value property-tax rate per 10,000 USD.

**ptratio** — pupil-teacher ratio by town.

**black** — 1000(bk — 0.63)² where bk is the 
proportion of blacks by town.

**lstat** — lower status of the population (percent).

**medv** — median value of owner-occupied homes in 
$1000s. this is the target variable.

The input data set contains data about details of various houses. Based on the information provided, the goal is to come up with a model to predict median value of a given house in the area.

**Hint: You should use medv as the independent variable, and remember to calculate the MSERMSE**

# Dependencies

In [1]:
#Step 1: Install Dependencies
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz
!tar xf spark-3.3.0-bin-hadoop3.tgz
!pip install -q findspark

#Step 2: Add environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.3.0-bin-hadoop3"

#Step 3: Initialize Pyspark
import findspark
findspark.init()

In [4]:
#creating spark context
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('lr_example').getOrCreate()

# Start Here

In [5]:
df = spark.read.csv("nyc.csv", inferSchema = True, header = True)

In [6]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- crim: double (nullable = true)
 |-- zn: double (nullable = true)
 |-- indus: double (nullable = true)
 |-- chas: integer (nullable = true)
 |-- nox: double (nullable = true)
 |-- rm: double (nullable = true)
 |-- age: double (nullable = true)
 |-- dis: double (nullable = true)
 |-- rad: integer (nullable = true)
 |-- tax: integer (nullable = true)
 |-- ptratio: double (nullable = true)
 |-- black: double (nullable = true)
 |-- lstat: double (nullable = true)
 |-- medv: double (nullable = true)

In [7]:
df.head()

Row(_c0=1, crim=0.00632, zn=18.0, indus=2.31, chas=0, nox=0.538, rm=6.575, age=65.2, dis=4.09, rad=1, tax=296, ptratio=15.3, black=396.9, lstat=4.98, medv=24.0)

In [8]:
# Import VectorAssembler and Vectors
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression

In [9]:
df.columns

['_c0',
 'crim',
 'zn',
 'indus',
 'chas',
 'nox',
 'rm',
 'age',
 'dis',
 'rad',
 'tax',
 'ptratio',
 'black',
 'lstat',
 'medv']

In [10]:
assembler = VectorAssembler(
    inputCols = ['crim', 'rm', 'dis', 'tax'],
    outputCol = "features")

In [11]:
output = assembler.transform(df)

In [12]:
final_df = output.select("features", "medv").show()

+--------------------+----+
|            features|medv|
+--------------------+----+
|[0.00632,6.575,4....|24.0|
|[0.02731,6.421,4....|21.6|
|[0.02729,7.185,4....|34.7|
|[0.03237,6.998,6....|33.4|
|[0.06905,7.147,6....|36.2|
|[0.02985,6.43,6.0...|28.7|
|[0.08829,6.012,5....|22.9|
|[0.14455,6.172,5....|27.1|
|[0.21124,5.631,6....|16.5|
|[0.17004,6.004,6....|18.9|
|[0.22489,6.377,6....|15.0|
|[0.11747,6.009,6....|18.9|
|[0.09378,5.889,5....|21.7|
|[0.62976,5.949,4....|20.4|
|[0.63796,6.096,4....|18.2|
|[0.62739,5.834,4....|19.9|
|[1.05393,5.935,4....|23.1|
|[0.7842,5.99,4.25...|17.5|
|[0.80271,5.456,3....|20.2|
|[0.7258,5.727,3.7...|18.2|
+--------------------+----+
only showing top 20 rows

In [14]:
train_data, test_data = final_df.randomSplit([0.7, 0.3])

AttributeError: ignored

In [ ]:
train_date.show()

In [ ]:
train_data.describe().show()

In [ ]:
test_data.describe().show()

In [70]:
from pyspark.ml.regression import LinearRegression